.container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    display: flex;
}

.content-hoteis {
    flex: 3;
    height: 100%;

    background-image: url("/images/hoteis.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.content-localizacao {
    flex: 3;
    height: 100%;

    background-image: url("/images/localizacao.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.content-reserva {
    flex: 3;
    height: 100%;

    background-image: url("/images/reserva.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.background {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    min-width: 100%;
    min-height: 100%;

    transition: ease-in-out .8s;
}

.background .title {
    display: none;
}

.background:hover {
    background-color: rgba(0, 0, 0, 0.699);
}

.background:hover .title {
    display: block;
}


.title {
    font-size: 44px;
    font-weight: bold;
    color: white;

}

a {
    text-decoration: none;
}