.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(white, #c7b0b067);

  min-width: 100%;
  min-height: 100vh;
}

.MainContent {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 75%;
  min-height: 100vh;

  background: #cec3c33b;
}
